<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.14.1/dist/tf.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <title>SPECTRUM</title>
</head>
<body>
  <section id="app">
    <section id="left" class="labels">
      <li v-for="(label, index) in left" :key="index">
        {{ label }}
      </li>
    </section>
    <section id="spectrum">
      <li v-for="(item, index) in spectrum" :key="index">
        <span :style="{ background: 'rgb(' + item.r + ', ' + item.g + ', ' + item.b + ')'}" class="entry"></span>
      </li>
    </section>
    <section id="right" class="labels">
      <li v-for="(label, index) in right" :key="index">
        {{ label }}
      </li>
    </section>
  </section>
  <script src="spectrum.js"></script>
</body>
</html>