::selection {
  color: white;
  background: blue;
}

::-webkit-scrollbar {
  height: 0.6em;
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.03);
}

#app {
  margin: 4em 0;
}

#sample {
  width: 100%;
  height: 75px;
  min-height: 5px;
  transition: all 400ms;
}

#label {
  transition: all 400ms;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: white;
  background: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  width: 100%;
}

h2 {
  font-size: 2em;
  margin: 0 0 0.3em 0;
}

p {
  margin: 2em 0;
  font-size: 1em;
}

a, a:visited {
  color: blue;
}

input {
  height: 100%;
  font-family: 'Inconsolata', monospace;
  font-size: 1.05em;
  color: white;
  background: none;
  border: 0;
}

input:focus {
  outline: 0;
}

.input-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
}

select {
  margin: 0 0 2em 0;
  font-size: 15px;
}

ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  margin: 1.5em 0;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 0.75em;
}

code {
  display: block;
  margin: 1.5em 0;
  padding: 0.75em 1em;
  font-family: 'Inconsolata', monospace;
  font-size: 1.05em;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

blockquote {
  margin: 1.5em 0 1.5em 1.5em;
  font-size: 0.95em;
}

.code-string {
  color: #91bc72;
}

.code-number {
  color: #b7895b;
}

.code-definition {
  color: #b09663;
}

.code-operator {
  color: #448995;
}

.code-variable {
  color: #ab5961;
}

.code-property {
  color: #569bd7;
}

.code-keyword {
  color: #be71d6;
}

.json-string {
  color: #91bc72;
}

.json-number {
  color: #b7895b;
}

.json-key {
  color: #ab5961;
}

.display-none {
  display: none;
}

.hidden {
  opacity: 0;
}

.link {
  cursor: pointer;
  user-select: none;
}

.white-bg {
  background: white !important;
}

.flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.indent {
  max-width: 400px;
  height: 100%;
}

.indent-wide {
  max-width: 800px;
  height: 100%;
}

.color-container {
  max-width: 400px;
}

.predict-container p, .predict-container input {
  margin: 2em 0 0 0;
}

.entry {
  display: block;
  width: 0.5em;
  height: 0.5em;
  cursor: pointer;
}

.entry-json {
  font-family: 'Inconsolata', monospace;
  font-size: 1.1em;
}

.local {
  display: flex;
  box-sizing: border-box;
  padding: 1em;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 5px;
}

.local input {
  width: 2em;
  margin: 0 0.5em 0 0;
  background: none;
}

.local p {
  margin: 0 0.5em;
}

.writing {
  column-count: 2;
  column-gap: 2em;
}

.writing p {
  margin: 0 0 1.5em 0;
  line-height: 1.35;
}

.notes {
  margin: 0 0 3em 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
}

.notes li {
  list-style: decimal outside none;
  margin: 0.25em 0 0 1em;
  padding: 0 0 0 1em;
}

.notes a, .notes a:visited {
  color: white;
  text-decoration: none;
  font-style: italic;
}

@media screen and (max-width: 450px) {
  .indent {
    width: 90%;
  }

  .writing {
    column-count: 1;
  }
}