html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
}

#app {
  width: 100%;
  max-width: 400px;
  margin: 2em;
}

section {
  margin: 2em;
}

input {
  box-sizing: border-box;
  width: 100%;
  margin: 0.25em 0;
  padding: 0.5em;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
}

button {
  width: 100%;
}

li {
  display: inline-block;
  list-style-type: none;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.entry {
  display: block;
  width: 1em;
  height: 1em;
}