<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <title>EXPLORE</title>
</head>
<body>
  <section id="app">
    <section>
      <input v-model="group" type="text" name="group" placeholder="group">
      <input v-model="clientId" type="text" name="client-id" placeholder="client-id">
      <button @click="get()">Get</button>
    </section>
    <section class="flex-row-wrap">
      <li v-for="(item, index) in dataset" :key="item._id">
        <span :style="{ background: 'rgb(' + item.data.color.r + ', ' + item.data.color.g + ', ' + item.data.color.b + ')'}"
          class="entry"></span>
      </li>
    </section>
    <section>
        <span v-for="(label, index) in labels">
          <p>{{ label }}</p>
          <span class="flex-row-wrap">
            <li v-for="(item, index) in dataset" :key="item._id" v-if="item.data.label === label">
              <span @click="info(item)" :style="{ background: 'rgb(' + item.data.color.r + ', ' + item.data.color.g + ', ' + item.data.color.b + ')'}"
                class="entry"></span>
          </span>
          </li>
        </span>
      </section>
    <section>
      <p>{{ dataset.length }} {{ labels }} {{ labelsCreated }} {{ clients.length }} {{ clients }}</p>
      <p>{{ entry }}</p>
    </section>
  </section>
  <script src="explore.js"></script>
</body>
</html>