html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: white;
  background: black;
}

#app {
  width: 100%;
  /* max-width: 40%; */
  margin: 1em;
}

section {
  margin: 0 0 2em 0;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
}

button {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
}

li {
  display: inline-block;
  list-style-type: none;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.entry {
  display: block;
  width: 1em;
  height: 1em;
}